DOCUMIND_MAX_UPLOAD_SIZE_BYTES=20971520
DOCUMIND_S3_BUCKET=documind-documents
DOCUMIND_S3_REGION=us-east-1
DOCUMIND_S3_ENDPOINT_URL=http://localhost:4566
DOCUMIND_S3_ACCESS_KEY_ID=test
DOCUMIND_S3_SECRET_ACCESS_KEY=test